name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Node setup
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - name: Install node dependencies
        run: pnpm install --frozen-lockfile

      - name: Check TypeScript
        run: pnpm tsc

      - name: Check formatting
        run: pnpm format:check

      - name: Check linting
        run: pnpm lint:check
